<container class="footer">

  <row class="">
    <columns class="">
      <row class="">
        <columns small="2" large="2"></columns>
        <columns small="4" large="3" class="">
          <span class="superbowl-logo"><img class="float-left" src="https://imgur.com/5OZ14kU.png"></span>
        </columns>
        <columns small="10" large="5" valign="middle" class="small-offset-2 text-left  superbowl-savings">
          <h5 class="estay-tunis">Stay tuned for more<br>Super Bowl LVII savings</h5>
        </columns>
        <columns small="4" large="5"></columns>
      </row>
      <!-- <hr> -->
      <spacer size="16"></spacer>
      <row class="text-wall">
        <columns small="2" large="2"></columns>
        <columns small="8" large="8">
          <p>
          *Benefits available only for eligible stores marked with the Uber One icon. Participating non-grocery stores: $15 minimum order to receive $0 Delivery Fee and up to 10% off. Participating grocery stores: $35 minimum order to receive $0 Delivery Fee and 5% off. Grocery discount not available in Texas. $5 credit is based on our Latest Arrival estimate, determined once you place your order. Uber One discounts are not available for rides booked 30 minutes or more in advance. Taxes and fees, if applicable, do not apply to order minimums. Other fees and exclusions may apply. Membership savings applied as a reduction to service fees.</p>
          <spacer size="10"></spacer>
          <span>Uber One subscription will auto-renew starting 1 month after initial enrollment in the Uber One free trial and every month thereafter at the then-current monthly rate, using your selected payment method. In order to ensure continuation of your subscription, you agree we may charge you up to one day before your auto-renewal date. To avoid charges: (1) if there are more than 48 hours before your auto-renewal day, cancel in the Uber One section of the app by selecting <strong>Manage membership</strong>, choosing <strong>End membership</strong>, and then confirming you wish to cancel your subscription; or (2) if you are within 48 hours of your auto-renewal date, contact Support to cancel. Subject to your rights under consumer laws, your recurring payment will not be refundable. See app for availability, fees, terms, and conditions.</span>
          <spacer size="16"></spacer>

          <span>View terms and conditions <a style="color: #036134;text-decoration: none;" href="#">here</a>.
          </span>
        </columns>
        <columns small="2" large="2"></columns>
      </row>
      <spacer size="36"></spacer>


      <row class="bottom-menu-area">
        <columns small="2" large="2"></columns>
        <columns small="6" large="4" class="">
         <ul class="remove-bottom">
          <li><span><a href="#">Help Center</a></span></li>
          <li><span><a href="#">Terms</a></span></li>
          <li class="last-span"><span class="last-span"><a href="#">Unsubscribe</a></span></li>
        </ul>
      </columns>
      <columns small="6" large="4" valign="middle" class="small-offset-2 text-left">
       <ul class="remove-top">
        <li class="first-span"><span class="first-span"><a href="#">Privacy</a></span></li>
        <li><span><a href="#">Email Preferences</a></span></li>
      </ul>
    </columns>
    <columns small="4" large="4"></columns>
  </row>
  <spacer size="26"></spacer>

  <row class="last-section-bottom">
    <columns small="2" large="2"></columns>
    <columns small="4" large="4" class="">
      <p>
        This is a promotional email from Uber Technologies<br>
        1515 3rd St., San Francisco, CA 94158<br>
      Uber.com</p>
    </columns>
    <columns small="6" large="4" valign="middle" class="small-offset-2 text-left">
      <row class="float-left" >
        <columns ></columns>
        <columns  small="2" large="2" valign="middle">
          <a href="#"><img class="fbs" style="width: 24px;height: 24px;" src="https://imgur.com/mYJFVab.png"></a>
        </columns>
        <columns class="tw" small="2" large="2" valign="middle">
          <a href="#"><img style="width: 24px;height: 24px;" src="https://imgur.com/7cCk0Ih.png"></a>
        </columns>
        <columns class="in" small="2" large="2" valign="middle">
          <a href="#"><img style="width: 24px;height: 24px;" src="https://imgur.com/JUi5RMp.png"></a>
        </columns>
        <columns small="5" large="6"></columns>
      </row>
    </columns>
    <columns small="1" large="2"></columns>
  </row>
</columns>
</row>
</container>



